@model TransacaoViewModel

<!-- Adicione as referências ao Bootstrap CSS e JS no cabeçalho da página -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<h1>Cadastrar Transação</h1>

<!-- Formulário de Cadastro -->
<form asp-action="Cadastrar" method="post">
    <input type="hidden" id="planosConta" name="PlanosConta" asp-for="PlanosConta" value="@Model.PlanosConta" />
    <input type="hidden" id="ativo" name="Ativo" asp-for="Ativo" value="@Model.Ativo">
    <div class="form-group">
        <label for="tipo">Tipo:</label>
        <input type="text" class="form-control" id="tipo" name="Tipo" required asp-for="Tipo">
    </div>
    <div class="form-group">
        <label for="valor">Valor:</label>
        <input type="number" class="form-control" id="valor" name="Valor" required asp-for="Valor">
    </div>
    <div class="form-group">
        <label for="istorico">Historico:</label>
        <input type="text" class="form-control" id="historico" name="Historico" required asp-for="Historico">
    </div>
    <div class="form-group">
        <label asp-for="PlanoContaId">Plano Conta:</label>
        <select asp-for="PlanoContaId" class="form-control" asp-items="@Model.TiposPlanoConta" required>
            <option value="">Selecione...</option>
        </select>
        <span asp-validation-for="Tipo" class="text-danger"></span>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <a type="button" class="btn btn-secondary" href="~/Transacao/Index">Cancelar</a>
    </div>
</form>

<!-- Mensagem de Confirmação -->
@if (!string.IsNullOrEmpty(ViewBag.Mensagem))
{
    <div class="alert alert-success mt-3" role="alert">
        @ViewBag.Mensagem
    </div>
}
